<div class="container">

    <div class="card ">
        <div class="card-header text-white bg-warning">Contacts Componenent</div>
        <div class="card-body">
            <h3>Contacts:</h3>
            <div class="list-group" *ngIf="contact">
                <div><img [src]="contact.logo" width="80" height="80">
                    <label class="control-label">Name:</label><strong>{{contact.name}}</strong>
                </div>
                <label class="control-label">Email:</label><strong>{{contact.email}}</strong>

                <label class="control-label">Tel:</label><strong>{{contact.telephone}}</strong>
                <div>
                    <img [src]="contact.loc" width="80" height="80">
                    <label class="control-label">location:</label><strong>{{contact.location}}</strong>
                </div>
            </div>
        </div>
    </div>

</div>